/* html styles */
body {
  font-family: 'Kaushan Script', cursive;
  font-family: 'Roboto', sans-serif;
}

label {
  color: white;
  text-align: left;
}

a {
  color: white;
  text-decoration: none;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 25px;
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 25px;
  padding: 0.5rem;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: #2f2e2e
}
 
li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #FFA500;
}

h1 {
  font-family: 'Kaushan Script';
  color: #FFA500;
  text-align: center;
  display: block;
  font-size: 3rem;
}

h3 {
  color: #FFA500;
  text-align: center;
  display: block
}

p {
  color: white;
  text-align: center;
}

/* Class based styles in the order they appear in html */

/*LANDING STYLES*/

.main-container {
  padding: 3rem;
  display: flex;
  align-items: center;
}

.landing-textbox {
  flex: 1;
  margin-bottom: 2rem;
}

.think-image {
  max-width: 100%;
}

.image-container {
  flex: 1;
}

.wave {
  display: block;
}

.landing-container {
  background-color: white;
  background-size: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

/*ABOUT ME STYLES*/

.subtitle {
  color: white;
  font-family: 'Kaushan Script';
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.profile-pic {
  border-radius: 50%;;
  width: 200px;
  margin-bottom: 2rem;
  filter: grayscale()
}

.about-container {
  background-color: #FFA500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  margin: 0 3rem;
  color: white;
  max-width: 75%;
}

.divider {
  background-color: #FFA500;
}

/*PROJECT STYLES*/

.project-btn {
  padding: 1rem;
  background-color: #2f2e2e;
  color: white;
  border-style: none;
  margin: 1%;
  border-radius: 25px;
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
}

.project-btn:hover {
  background-color: #585757;
}

.project-text {
  color: #FFA500;
  text-align: left;
}

.project-left {
  flex: 2;
}

.project-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  font-family: 'Kaushan Script';
  color: #FFA500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project {
  background-color: white;
  width: 75%;
  border-radius: 25px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.project-start {
  width: 75%;
}

.project-tech {
  color: #FFA500;
  text-align: left;
}

.project {
  display: flex;
}

.projects-container {
  background-color: #FFA500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img {
  width: 300px;
  border-style: solid;
  border-color: #FFA500;
  margin: 2rem;
}

/*CONTACT STYLES*/

.form-box {
  width: 100%;
}


.form-btn {
  padding: 1rem;
  background-color: #FFA500;
  color: white;
  border-style: none;
  margin: 1%;
  border-radius: 25px;
  width: 50%;
  text-align: center;
  margin-top: 1rem;
}

.form-btn:hover {
  background-color: #cc8400;
}

.fab {
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.fab:hover {
  color: #585757;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.curve-container {
  background-color: #FFA500;
}

.contact-container {
  background-color: #2f2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 75%;
  margin-bottom: 2rem;
}

/* Makes the website responsive */
@media (max-width: 800px){
  .project{
    flex-direction: column;
  }

  .main-container {
    flex-direction: column;
  }
}

* {
  margin:0;
  padding:0;
  }

  html {
    scroll-behavior: smooth;
  }